# Set to the output directory.
# By default, it's a subdirectory named "output" in lh-bootstrap's base directory.
OUTPUT=

# Set to a non-privileged user on your system.
# Most of the build will be performed as that user.
NORMALUSER=nobody

# Kernel config. Leave commented to use the one provided with the bootstrap,
# which is suitable for qemu.
# KERNEL_CONFIG=

# Uncomment, and define the triplet of the target system,
# and the absolute path to the base of the toolchains.
# TRIPLE=x86_64-linux-musl
# CROSS_BASE=/home/ska/toolchains/cross/$TRIPLE
# HOST_HOST_BASE=/home/ska/toolchains/native/$TRIPLE


# Filesystems size, in megabytes.

ROOTFS_SIZE=32768
SWAP_SIZE=4096
RWFS_SIZE=4096
USERFS_SIZE=1024
EXTRA_SIZE=2048
