# Set to the output directory.
# By default, it's a subdirectory named "output" in lh-bootstrap's base directory.
OUTPUT=

# Set to a non-privileged user on your system.
# Most of the build will be performed as that user.
NORMALUSER=nobody

# The C compiler for your BUILD system.
# Leave empty if you're using your distro's native compiler.
# BUILD_BUILD_CC=


# The toolchain for your TARGET system
# TRIPLE=x86_64-linux-musl
# CROSS_BASE=/home/ska/toolchains/cross/$TRIPLE


# Set this to true if you want your created rootfs to be statically linked
# BUILD_HOST_STATIC=false

# Filesystems size, in megabytes.

ROOTFS_SIZE=32768

# The device on which to spawn an early getty.
# Leave empty for no early getty.
CONSOLE=
